#header {
    background: url("../../assets/img18.avif") center center / cover no-repeat ;
  }
  #nav{
    background-color: #38b9c2;
  }
  #title{
    color: white;
  }
  .lead{
    color: white;
  }


  /* sdfghjkl */
  .read_more_btn{
    color: #309df0;
    border: none;
    border-radius: 10px;
  

  }
  .read_more_btn:hover {
    background: #42c3ca !important;
    color:white;
    transform: translateY(-2px);
  }
  #t{
  margin-top: -350px; 
     margin-left: 30%; 
  }
  #h{
    color: #309df0;
  }