<nav id="nav" class="bg- navbar-dark">
    <div class="container">
      <a href="/kjhg" class="navbar-brand"><i class="fas fa-tree mr-2"></i>LET'S RIDE</a>
    </div>
    </nav>
     <section id="header" class="jumbotron text-center">
       <h1 id="title" class="display-3">ENJOY THE NOW</h1>
       <p class="lead">Make Time To Find Your Happiness</p>
       <!-- <a href="" class="btn btn-primary">Click</a>
       <a href="" class="btn btn-secondary">Click</a> -->
  </section>

<!-- 
  <div class="d-flex">
    <div class="overflow-auto" style="height: 400px">
      <div class="card m-2" style="max-width: 540px;">
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card m-2" style="max-width: 540px;">
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card m-2" style="max-width: 540px;">
          <div class="row g-0">
              <div class="col-md-4">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp" class="img-fluid rounded-start" />
              </div>
              <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">
                          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                      </p>
                      <p class="card-text">
                          <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
 -->
 <div class="solution_card">
    <div class="hover_color_bubble"></div>
    <div class="so_top_icon">
       <img id="img1" src="../../assets/pngegg (7).png" alt="">
      
    </div>
    <div id="t">
    <div class="solu_title">
      <h3 id="h">Kerala bicycle Club</h3>
    </div>
    <div class="solu_description">
      <p>
        we are passionate about promoting cycling as a way of life and fostering a community of enthusiastic riders. Our club is dedicated to providing a platform for cyclists of all ages and skill levels to come together, explore scenic routes, and share their love for cycling. 
      </p>
      <button type="button" class="read_more_btn"><a id="link" class="nav-link" routerLink="/jclub"> JOIN NOW</a></button>
      <button type="button" class="read_more_btn"><a href="https://instagram.com/pedallers_of_kerala?igshid=MzRlODBiNWFlZA==" class="social-link"><i class="fa fa-instagram"></i></a></button>
    </div>
  </div>
</div>
