<!-- <app-nav></app-nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">TripPlanner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav1">
    <ul  class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/map"> Route Planner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tdv"> Blog</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/org">Organaization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/find">Find</a>
      </li>
     
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
 
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/lg">Login</a>
      </li> -->
      <a class="nav-link" routerLink="/su">
      <button class="sign-up-button" (click)="logout()">Log OUT</button></a>
     
    </ul>
  </div>
</nav>
<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/img2.jpg.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img16.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/img15.jpg" alt="Third slide">
      </div>
    </div>
  </div> -->


  <div class="img">
  
  
    <!-- Badge -->
    
      <!-- <a  routerLink="/log"><button class="login-btn">login</button> -->
    
        <i   class="bi bi-bell"></i>
      <!-- </a> -->
    
  
</div>
<div class="content">
  <div id="center">
  <p class="h">ROUTE PLANNER</p>
 
  <h1 class="p">Plan tha best bike Route with the Ride with GPS route planner</h1>
  <div id="bel">
  </div>
  <a  id="btn" routerLink="/map"><button class="login-button">Plan a Bike route</button></a>
</div>
</div>
<!-- <div id="map">
  <img src="https://ridewithgps.com/images/route_planner/new_route_planner.png
  " style="max-width: 90%">
</div> -->
   

<div class="s2">
  <div id="p">
    <h1>Discover routes in your area, or halfway around the world</h1>
  <p>The best route planners use our tools, and most of their routes are available to you. Find a new ride in your backyard, or start planning your next trip.</p>
</div>
</div>

  <!-- <div  style="margin-top:0px;" class="row no-margin">
          
    <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d249759.19784092825!2d79.10145254589841!3d12.009924873581818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1448883859107"  height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  
  
  </div> -->
   