.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
#f{
    background-color:  #38b9c2;
}
.img-fluid{
    width: 400px;
    height: 500px;
    border-radius:100px;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}