<nav id="nav" class="bg- navbar-dark">
    <div class="container">
      <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>LET'S RIDE</a>
    </div>
    </nav>
     <section id="header" class="jumbotron text-center">
       <h1 id="title" class="display-3">ENJOY THE NOW</h1>
       <p class="lead">Make Time To Find Your Happiness</p>
       <!-- <a href="" class="btn btn-primary">Click</a>
       <a href="" class="btn btn-secondary">Click</a> -->
  </section>
 
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img  id="card1" src="../../assets/img7.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Ooty</h5>
          <p class="card-text"> The Queen of Hill Stations!

            Nestled in the picturesque Nilgiri Hills of Tamil Nadu, Ooty is a charming hill station that captivates visitors with its lush green landscapes, pleasant weather, and colonial charm. Popularly known as "Queen of Hill Stations," Ooty offers a perfect retreat from the hustle and bustle of city life.</p>
         <!-- <a href="" class="btn btn-outline-success btn-sm">GO</a> -->
         <a href="https://goo.gl/maps/mx7eTRswUj9VvtxG7" class="social-link"><i class="fa-solid fa-location-dot"> GO</i></a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="../../assets/img5.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Munnar</h5>
          <p class="card-text"> The Land of Tea Gardens and Majestic Hills!

            Located in the picturesque Western Ghats of Kerala, Munnar is a breathtaking hill station renowned for its stunning landscapes, cool climate, and lush greenery. Nestled at an altitude of 1,600 meters above sea level, Munnar is a paradise for nature lovers and adventure enthusiasts alike.</p>
         <!-- <a href="" class="btn btn-outline-success btn-sm">GO</a> -->
         <a href="https://goo.gl/maps/VCNkJ7ScDX6mJWPT7" class="social-link"><i class="fa-solid fa-location-dot"> GO</i></a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="../../assets/img1.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kodaiknal</h5>
          <p class="card-text">The Princess of Hill Stations!

            Nestled in the Palani Hills of Tamil Nadu, Kodaikanal is a serene and picturesque hill station that enchants visitors with its misty mountains, verdant valleys, and tranquil lakes. Known as the "Princess of Hill Stations," Kodaikanal offers a perfect escape into nature's embrace.</p>
         <!-- <a href="" class="btn btn-outline-success btn-sm">GO</a> -->
         <a href="https://goo.gl/maps/PPeiQbW5jsZK3HZJ7" class="social-link"><i class="fa-solid fa-location-dot"> GO</i></a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img  id="card1" src="../../assets/img8.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Wayanad</h5>
          <p class="card-text"> Nature's Paradise!

            Nestled amidst the majestic Western Ghats of Kerala, Wayanad is a captivating destination that enthralls visitors with its pristine natural beauty, lush green landscapes, and rich cultural heritage. With its mist-covered mountains, cascading waterfalls, wildlife sanctuaries, and spice plantations, Wayanad offers a delightful escape into nature's embrace.</p>
         <!-- <a href="" class="btn btn-outline-success btn-sm">GO</a> -->
         <a href="https://goo.gl/maps/8NGQtARnnroboTPV9" class="social-link"><i class="fa-solid fa-location-dot"> GO</i></a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="../../assets/img4.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Iduki</h5>
          <p class="card-text"> Nature's Abode in the Western Ghats!

            Idukki, nestled in the picturesque Western Ghats of Kerala, is a captivating destination known for its pristine beauty, lush greenery, and enchanting landscapes. With its sprawling tea plantations, mist-covered hills, sparkling waterfalls, and serene backwaters, Idukki offers a perfect retreat for nature lovers and adventure enthusiasts.
</p>
         <!-- <a href="" class="btn btn-outline-success btn-sm">GO</a> -->
         <a href="https://goo.gl/maps/VQLemYWXDUzKKW7GA" class="social-link"><i class="fa-solid fa-location-dot"> GO</i></a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="../../assets/welcom.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Mysore</h5>
          <p class="card-text">The Cultural Capital of Karnataka!

            Located in the southern part of Karnataka, Mysuru (formerly known as Mysore) is a city steeped in rich history, vibrant culture, and royal grandeur. Renowned for its majestic palaces, ancient temples, colorful festivals, and traditional arts and crafts, Mysuru offers a captivating blend of old-world charm and modernity.</p>
         <!-- <a href="" class="btn btn-outline-success btn-sm">GO</a> -->
         <a href="https://goo.gl/maps/am98hE5FLYqwoSSZ8" class="social-link"><i class="fa-solid fa-location-dot"> GO</i></a>
          <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>

  <div id="map"></div>