<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">TripPlanner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="nav1">
    <ul  class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/"> Route Planner</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tdv"> Blog</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/org">Organaization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/find">Find</a>
      </li>
     
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
 
      <li class="nav-item">
        <a class="nav-link" routerLink="/lg">Login</a>
      </li>
      <a class="nav-link" routerLink="/su">
      <button class="sign-up-button">Join Now</button></a>
     
    </ul>
  </div>
</nav>
