body{
    height: 2000px;
}
.navbar {
    background-color: #070a0f;
    height: 60px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color:#38b9c2;
  }
  
  .nav-link {
    color:#38b9c2;
  }
  
  .nav-link:hover {
    color: #38b9c2;
  }
  

  .nav-link {
  color:  #38b9c2;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #38b9c2;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.nav-link:hover {
  color: #0b5354;
}

.nav-link:hover::before {
  transform: scaleX(1);
}
.sign-up-button {
    padding: 10px 20px;
    background-color: #38b9c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0px 8px 16px 0px rgba(12, 111, 157, 0.345);
  }
  
  .sign-up-button:hover {
    background-color: #0b5354;
    transform: translateY(-2px);
  }
  
  .sign-up-button:focus {
    outline: none;
  }
  #nav1{
    display: inline;
    padding-right: 700px;
    
  }
  